---
# Join worker nodes to the Kubernetes cluster

- name: Join worker nodes to cluster
  hosts: workers
  become: yes
  gather_facts: yes
  serial: 1
  roles:
    - role: worker_node
      tags: [worker, join]

  post_tasks:
    - name: Wait for node to appear in cluster
      command: kubectl get node {{ inventory_hostname }}
      delegate_to: control-plane-1
      become_user: vagrant
      register: node_status
      until: node_status.rc == 0
      retries: 10
      delay: 10
      changed_when: false

    - name: Display node status
      debug:
        msg: "Worker node {{ inventory_hostname }} joined the cluster"
